.nav-link-hover {
  position: relative;
  transition: color 0.2s ease-in-out;
  background-color: rgb(48, 48, 177);
  padding: 2px;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 8px;
}

.nav-link-hover:hover {
  color: #fff !important; /* color amarillo como highlight */
  text-decoration: underline;
  background-color: rgb(28, 28, 221);
  padding: 2px;
  border-radius: 8px;
  padding-left: 4px;
  padding-right: 4px;
}


/* Estilo por defecto: ocultar menú en móvil */
.menu-nav {
  display: none;
}

/* Mostrar en pantallas md+ */
@media (min-width: 768px) {
  .menu-nav {
    display: flex !important;
  }
}

/* Si se activa el menú desde botón hamburguesa */
.menu-nav.mostrar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #0d6efd;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
}
